<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-packet-index") %>>
          <a href="/docs/providers/packet/index.html">Packet Provider</a>
       </li>

       <li<%= sidebar_current("docs-packet-datasource") %>>
         <a href="#">Data Sources</a>
         <ul class="nav nav-visible">
           <li<%= sidebar_current("docs-packet-datasource-precreated-ip-block") %>>
             <a href="/docs/providers/packet/d/precreated_ip_block.html">precreated_ip_block</a>
           </li>
           <li<%= sidebar_current("docs-packet-datasource-operating-system") %>>
             <a href="/docs/providers/packet/d/operating_system.html">operating_system</a>
           </li>
            <li<%= sidebar_current("docs-packet-datasource-spot-market-price") %>>
             <a href="/docs/providers/packet/d/spot_market_price.html">spot_market_price</a>
           </li>
         </ul>
       </li>


        <li<%= sidebar_current("docs-packet-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-packet-resource-device") %>>
              <a href="/docs/providers/packet/r/device.html">packet_device</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-project") %>>
              <a href="/docs/providers/packet/r/project.html">packet_project</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-organization") %>>
              <a href="/docs/providers/packet/r/organization.html">packet_organization</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-ssh-key") %>>
              <a href="/docs/providers/packet/r/ssh_key.html">packet_ssh_key</a>
            </li>
             <li<%= sidebar_current("docs-packet-resource-spot-market-request") %>>
              <a href="/docs/providers/packet/r/spot_market_request.html">packet_spot_market_request</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-volume") %>>
              <a href="/docs/providers/packet/r/volume.html">packet_volume</a>
          </li>
          <li<%= sidebar_current("docs-packet-resource-volume-attachment") %>>
              <a href="/docs/providers/packet/r/volume_attachment.html">packet_volume_attachment</a>
            </li>

            </li>
            <li<%= sidebar_current("docs-packet-resource-reserved-ip-block") %>>
              <a href="/docs/providers/packet/r/reserved_ip_block.html">packet_reserved_ip_block</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-ip-attachment") %>>
              <a href="/docs/providers/packet/r/ip_attachment.html">packet_ip_attachment</a>
            </li>
            <li<%= sidebar_current("docs-packet-resource-vlan") %>>
              <a href="/docs/providers/packet/r/vlan.html">packet_vlan</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
